<mat-toolbar class="navbar">
    <div>
        <span><img src="../../assets/profile.jpeg"height="52" width="44"></span>
<span>my blog</span>
    </div>
    <div>
        <span><a href="/#home" ><mat-icon >home</mat-icon></a></span>
        <span><a href="/#aboutme" >About me</a></span>
        <span><a href="/#project" >projects</a></span>
        <span><a href="/#contact" ><mat-icon>call</mat-icon></a></span>
    </div>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-12">
<router-outlet></router-outlet>
        </div>
    </div>
</div>