style{
position: absolute;
width: 100%;
max-height: max-content;
}
/* .row{
   background-image: image-set(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQoq2DTI6M6zBconyoNS5Bm4JHBKkYI5VrXMfBmD_g5eDwHihM6&usqp=CAU);
} */