<div class="row" id="home">
    <div class="col-12">
        <style>
            div {
              background-image: url('https://image.freepik.com/free-photo/abstract-background-branding-minimal-presentation-cosmetic-bottle-off-white-color-circular-plane-sphere-white-background-3d-rendering-illustration_170280-67.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
  background-size: cover;
            }
            </style>
        <div class="row">
            <div class="col-lg-6 col-12 text-center p-5">
                <img src="background.webp">
               <h1>HELLO! WELCOME</h1>
               <small><b>To my blog</b></small>
               <h3>
                   <!-- <span>Earning-per day $1500</span> -->
                  
               </h3>
            </div>
        </div>
    </div>
    <hr><br>
</div>
