<div class="row" id="project">
    <div class="col-12">
        <style>
            div {
              background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8-poof0Sh8B7Ic4FNFn9yLi6cOPcSMkmeEBeRsO7Veeus_Ny3&usqp=CAU');
              background-repeat: no-repeat;
              background-attachment: fixed;
  background-size: cover;
            }
            </style>
      
        <div class="col-12 text-center"><h1><b>Project working</b></h1></div>
        <hr><br>
        <div class="row">
            <div class="col">
                <img src="../../assets/icon.jpeg" height="200" width="300">
            <hr><br>
            </div>
            <div class="col-lg-6 col-12">
                
                <h2><b>Pickbids</b></h2>
                <small>presently working on this project</small>
                <h4>reach reedem repeat</h4>
 
            </div>
        </div>
    </div>
</div>
